<nav class="navbar">
  <img src="/taskly-logo.png" alt="Taskly Logo" class="logo-nav">
  <div class="nav-links">
    <a href="#/tasks">Tareas</a>
    <a href="#/profile">Mi perfil</a>
  </div>
</nav>

<main class="create-task-main">
  <h1>Crear Nueva Tarea</h1>
  <form id="create-task-form">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" placeholder="Título de la tarea" required />

    <label for="details">Descripción:</label>
    <textarea id="details" name="details" placeholder="Descripción de la tarea"></textarea>

    <label for="date">Fecha Límite:</label>
    <input type="date" id="date" name="date" required />

    <label for="time">Hora:</label>
    <input type="time" id="time" name="time" required />

    <label for="status">Estado:</label>
    <select id="status" name="status" required>
      <option value="Pending">Por Hacer</option>
      <option value="In-progress">En Progreso</option>
      <option value="Completed">Completada</option>
    </select>

    <button type="submit">Crear Tarea</button>
    <button type="button" id="cancelCreateTask">Cancelar</button>
  </form>
</main>