<nav class="navbar">
  <img src="/taskly-logo.png" alt="Taskly Logo" class="logo-nav">
  <div class="nav-links">
    <a href="#/tasks">Tareas</a>
    <a href="#/profile">Mi perfil</a>
    <a href="#/login" id="logout">Cerrar sesión</a>
  </div>
</nav>

<main class="create-task-main">
  <section class="form-container-create-task">
    <img src="/taskly-logo.png" alt="Taskly Logo" class="logo" />
    <h1>Crear Nueva Tarea</h1>
    <form id="create-task-form">
      <div class="form-group">
        <label for="title">Título</label>
        <input type="text" id="title" name="title" placeholder="Título de la tarea" required />
      </div>

      <div class="form-group">
        <label for="details">Descripción</label>
        <textarea id="details" name="details" placeholder="Descripción de la tarea"></textarea>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="date">Fecha Límite</label>
          <input type="date" id="date" name="date" required />
        </div>

        <div class="form-group">
          <label for="time">Hora</label>
          <input type="time" id="time" name="time" required />
        </div>
      </div>

      <div class="form-group">
        <label for="status">Estado</label>
        <select id="status" name="status" required>
          <option value="Pending">Por Hacer</option>
          <option value="In-progress">Haciendo</option>
          <option value="Completed">Hecho</option>
        </select>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn save">Crear Tarea</button>
        <button type="button" id="cancelCreateTask" class="btn cancel">Cancelar</button>
      </div>
    </form>
  </section>
</main>