<nav class="navbar">
  <img src="/taskly-logo.png" alt="Taskly Logo" class="logo-nav">
  <div class="nav-links">
    <a href="#/tasks">Tareas</a>
    <a href="#/profile">Mi perfil</a>
  </div>
</nav>

<main class="edit-profile-main">
  <h1>Editar Perfil</h1>
  <form id="edit-profile-form">
    <label for="firstName">Nombre:</label>
    <input type="text" id="firstName" name="firstName" required />

    <label for="lastName">Apellido:</label>
    <input type="text" id="lastName" name="lastName" required />

    <label for="email">Correo Electrónico:</label>
    <input type="email" id="email" name="email" required />

    <label for="age">Edad:</label>
    <input type="number" id="age" name="age" required />

    <button type="submit">Guardar Cambios</button>
    <button type="button" id="backToProfile">Cancelar</button>
  </form>
</main>