<!-- Navbar -->
<nav class="navbar">
  <img src="/taskly-logo.png" alt="Taskly Logo" class="logo-nav">
  <button class="nav-toggle" id="nav-toggle" aria-label="Abrir menú">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <div class="nav-links" id="nav-content">
    <a href="#/">Inicio</a>
    <a href="#/login">Iniciar Sesión</a>
    <a href="#/register">Registrarse</a>
  </div>
</nav>

<div class="login-page">
  <div class="login-container">
    <img src="/taskly-logo.png" alt="Taskly Logo" class="logo">
    <h2>¡BIENVENIDO!</h2>

    <form id="loginForm" action="#/tasks" method="get">
      <input type="text" id="email" name="email" placeholder="Email" required>

      <!-- Campo de contraseña con ojito -->
      <div class="input-wrapper-login">
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Contraseña"
          required
        />
        <i
          class="fa-solid fa-eye toggle-icon"
          data-target="#password"
          aria-label="Mostrar u ocultar contraseña"
          role="button"
          tabindex="0"
        ></i>
      </div>

      <!-- Botón principal -->
      <button type="submit" class="btn-primary">Ingresar</button>
      <div id="loginMsg"></div>
    </form>

    <!-- Botón secundario -->
    <a href="#/register" class="btn-secondary">Registrarse</a>

    <!-- Botón link -->
    <a href="#/send-email" class="btn-link">Recuperar contraseña</a>

    <!-- Volver -->
    <a href="#/home" class="back">Volver</a>
  </div>
</div>
