<!-- Navbar (aparece en todas las páginas) -->
<nav class="navbar">
  <img src="/taskly-logo.png" alt="Taskly Logo" class="logo-nav">
  <button class="nav-toggle" id="nav-toggle" aria-label="Abrir menú">
    <span></span><span></span><span></span>
  </button>
  <div class="nav-links hidden" id="nav-content">
    <a href="#/">Inicio</a>
    <a href="#/login">Iniciar Sesión</a>
    <a href="#/register">Registrarse</a>
  </div>
</nav>
<div class="login-page">
  <div class="login-container">
    <img src="/taskly-logo.png" alt="Taskly Logo" class="logo">
    <h2>¡BIENVENIDO!</h2>
    <form id="loginForm" action="#/tasks" method="get">
      <input type="text" id="email" name="email" placeholder="Email" required>
      <input type="password" id="password" name="password" placeholder="Contraseña" required>
      <button type="submit">Ingresar</button>
      <div id="loginMsg"></div>
    </form>

    <div class="extras">
      <a id="registerLink" href="#/register">¿No tienes una cuenta? Regístrate aquí</a>
      <a href="#/send-email">¿Olvidaste tu contraseña?</a>
    </div>
    <a href="#/home" class="back">Volver</a>
  </div>
</div>