<nav class="navbar">
  <img src="/taskly-logo.png" alt="Taskly Logo" class="logo-nav">
  <div class="nav-links">
    <a href="#/tasks">Tareas</a>
    <a href="#/profile">Mi perfil</a>
  </div>
</nav>

<main class="profile-main">
  <h1>Información del Usuario</h1>
  <div id="profile-info">
    <!-- Aquí se cargará la información del usuario -->
  </div>
  <button id="editInfoBtn">Editar perfil</button>
  <button id="backToTasks">Volver a Tareas</button>
  <button id="deleteAccountBtn">Eliminar cuenta</button>
</main>