<nav class="navbar">
  <!-- Logo -->
  <img src="/taskly-logo.png" alt="Taskly Logo" class="logo-nav">

  <!-- Botón hamburguesa -->
  <button class="nav-toggle" id="nav-toggle" aria-label="Abrir menú">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <!-- Links -->
  <div class="nav-links" id="nav-content">
    <a href="#/">Inicio</a>
    <a href="#/login">Iniciar Sesión</a>
    <a href="#/register">Registrarse</a>
  </div>
</nav>


<div class="recover-page">
  <div class="recover-container">
    <img src="/taskly-logo.png" alt="Taskly Logo" class="logo">
    <h2>NUEVA CONTRASEÑA</h2>
    <form id="recover-password-form">
      <input type="hidden" id="token" name="token">
      <input type="hidden" id="email" name="email">
      <input id="new-password" type="password" placeholder="Nueva contraseña" required>
      <input id="confirm-password" type="password" placeholder="Confirmar contraseña" required>
      <button type="submit">Guardar</button>
    </form>
  </div>
</div>