<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taskly - Registro</title>
  <link rel="stylesheet" href="../styles/base.css">
  <link rel="stylesheet" href="../styles/register.css">
</head>
<body>
  <div class="register-container">
    <img src="/taskly-logo.png" alt="Taskly Logo" class="logo">
    <h2>INGRESA TUS DATOS</h2>
    <form>
      <input type="text" placeholder="Nombre" required>
      <input type="text" placeholder="Apellidos" required>
      <input type="number" placeholder="Edad" required>
      <input type="email" placeholder="Email" required>
      <input type="password" placeholder="Password" required>
      <input type="password" placeholder="Confirm Password" required>
      <button id="registerMsg" type="submit">Registrarse</button>
    </form>
    <a href="login.html" class="back">Volver</a>
  </div>
</body>
<script type="module" src="/src/main.js"></script>
</html>
