<!-- Navbar (aparece en todas las páginas) -->
<nav class="navbar">
  <img src="/taskly-logo.png" alt="Taskly Logo" class="logo-nav">
  <div class="nav-links">
    <a href="#/">Home</a>
    <a href="#/login">Login</a>
    <a href="#/register">Registrarse </a>
    <a href="#/settings">Settings</a>
  </div>
</nav>
<div class="recover-page">
  <div class="recover-container">
    <img src="/taskly-logo.png" alt="Taskly Logo" class="logo">
    <h2>RECUPERAR CONTRASEÑA</h2>
    <form id="recoverForm">
      <input id="email" type="email" placeholder="Ingresa tu correo" required>
      <button type="submit">Enviar código</button>
    </form>
    <a href="#/login" class="back">Volver</a>
  </div>
</div>