<nav class="navbar">
  <!-- Logo -->
  <img src="/taskly-logo.png" alt="Taskly Logo" class="logo-nav">

  <!-- Botón hamburguesa -->
  <button class="nav-toggle" id="nav-toggle" aria-label="Abrir menú">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <!-- Links -->
  <div class="nav-links" id="nav-content">
    <a href="#/">Inicio</a>
    <a href="#/login">Iniciar Sesión</a>
    <a href="#/register">Registrarse</a>
  </div>
</nav>


<div class="recover-page">
  <div class="recover-container">
    <img src="/taskly-logo.png" alt="Taskly Logo" class="logo">
    <h2>RECUPERAR CONTRASEÑA</h2>
    <form id="recoverForm">
      <input id="email" type="email" placeholder="Ingresa tu correo" required>
      <button type="submit">Enviar código</button>
    </form>
    <a href="#/login" class="back">Volver</a>
  </div>
</div>